# Virtual environment
.venv/
.idea/

# Python caches
__pycache__/
*.py[cod]

# Python packaging artifacts
*.egg-info/
build/
dist/
.eggs/

# Jupyter notebooks and checkpoints
*.ipynb
.ipynb_checkpoints/


# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Temporary files
*.tmp
*.temp
~$*
.DS_Store
Thumbs.db